/* INSIRA NESTE BLOCO SEUS ESTILOS */

.form-item label{
	color: #ccc;
	font-size: 10px;
	display: block;
}

.list label{
	color: #000;
	font-size: inherit;
}
.form-item{
	margin-bottom: 20px;
}

.form-item input[type="text"],
.form-item input[type="email"],
.form-item select,
.form-item textarea{
	color: black;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
}
.form-item textarea{
	
}

.controls button{
  padding: 10px 20px 10px 20px; 
  background-color: #ccc;
  font-size: 9px;
  border: none;
  cursor: pointer;
}

.controls button:hover{
  background-color: #999;
  box-shadow: 3px 3px 3px rgba(14, 12, 12, 0.5);
}

select{
	background-color: #ccc;
}

/* FIM DOS SEUS ESTILOS */

/* ABAIXO OS ESTILOS INICIAIS */
* {
	box-sizing: border-box;
}

*:focus{
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif
}

header {
	text-align: center;
    color: rgba(255,255,255,0.8);
    background-image: url(../img/header-bg.jpg);
    background-size: 100% auto;
    background-position: 0 -100px;
    height: 500px;
	font-size: 96px;
	font-weight: bold;
    text-shadow: 0 0 10px #000;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 80%;
	margin: 20px 10%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
}

footer {
	text-align: center;
	padding: 30px;
	background-image: url(../img/header-bg.jpg);
	color: #FFF;
}

main>div{
	background-color: #F0F0F0;
	padding: 30px;
	margin-bottom: 20px;
	border-radius: 10px;
}

main>div:last-child{
	margin-bottom: 0;
}

main>div>h2{
	font-size: 16px;
	margin: 0px 0px 5px 0px;
}

main>div>p {
	color: #666;
	font-size: 12px;
	margin: 0;

}

main>div>img{
	width:50px;
	margin-right: 10px;
	float: left;
}

aside{

}

.controls{
	display: flex;
	justify-content: space-between;
}

/* FIM DE ESTILOS INICIAIS */